# Common relations

be = am|is|are|was|were;
degree = PhD|BSc|MEng|MSc|master|degree

person = PERSON|[*];
org = ORG|[*];
role = [*];
place = PLACE|place|city|coast|valley;

# Rules for simple triplets
n(1), @IS_CONNECTED_TO(1,3), n(3), @HAS_VERB(1,2), v(2) :- n(1), AGENT(2,1), v(2), PATIENT(2,3), n(3);
n(1), @IS_CONNECTED_TO(1,3), n(3), @HAS_VERB(1,2), v(2) :- n(1), AGENT(2,1), v(2), ATTR(2,3), n(3);
n(1), @IS_CONNECTED_TO(1,3), n(3), @HAS_VERB(1,2), v(2) :- n(1), AGENT(2,1), v(2), ADJECTIVE(2,3), n(3);